<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        {{>header}}
        <h1>This is a Help page</h1>
        <p>{{message}}</p>
    </body>

</html>